body{
    background-color: rgb(145, 238, 238);}

    #heading{
    color: black;
    text-align: center;
    font-size: xx-large
  
}
.group {
    color: #7248ac;
}
#data {
    display: block;
}